.rojo{
background-color: rgb(255,0,0);
}

.verde{
background-color: #00ff00;
/*background-color: #0f0*/
align-self: center;
}

.azul {
background-color: blue;
}

.caja {
    width: 150px;
    height: 150px;
    /*margin:auto;*/
}

.flex-container {
    display:flex;
    min-height: 300px;
}

.flex-row{
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

