body {
    margin: 0;
    padding: 0;
    background-color: #f8c08a;
}

/*
*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}
*/

body>header {
    background-color: #80b9b9;
    color: #f8c08a;
    font-family: 'Dancing Script', cursive;
    font-size: 28px;
    height: 250px;
}

h2 {
    font-family: 'Indie Flower', cursive;
    margin-top:15px;
}

body>header>div {
    display: inline-block;
}

header>img {
    float: left;
    position: absolute;
}

.noticia {
font-size: 20px;
    margin-left: 30px;
display:flex;
flex-direction:column;
justify-content: flex-end;
font-family: 'Indie Flower', cursive;
color: #77341c;
border: double;
width: 950px;
}

p {
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}
h3 {
    margin-top: 10px;
    margin-left: 45px;
    margin-bottom: 5px;
}

article {
display: block;
}



#comentarios {
    width: 900px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    position: absolute;
    top: 650px;
    left: 50px;
    font-family: 'Caveat', cursive;
    
}

#comentario_1 { 
background-color: #d8584e;
border-radius: 20px;
padding-top: 30px;
padding-left: 20px;
padding-right: 20px;
width: 150px;
font-weight: bold;
font-size: 30px;
}

#comentario_1>img {
padding-left: 27px;
}

#comentario_2 { background-color: #d8584e;
border-radius: 20px;
padding-top: 30px;
padding-left: 20px;
padding-right: 20px;
width: 150px;
font-weight: bold;
font-size: 30px;
}

#comentario_2>img {
    padding-left: 27px;
    }

#comentario_3 { background-color: #d8584e;
border-radius: 20px;
padding-top: 30px;
padding-left: 20px;
padding-right: 20px;
width: 150px;
font-weight: bold;
font-size: 30px;
}

#comentario_3>img {
    padding-left: 27px;
    }

/*#deja_tu_comentario {
    display:flex;
    align-items: center;
}*/


aside {
    position: absolute;
    top: 300px;
    width: 210px;
    height: 200px;
    right: 50px;
    z-index: 2;
    background-color: #c09651;
    border-radius: 15px;
    padding: 1em;
}

aside>img {
    padding-bottom: 25px;
    padding-left: 15px;
}

aside>p {
    font-size: 25px;
}
#deja_tu_comentario {
    height: 250px;
    width: 200px;
    background-color: #c09651;
    position: absolute;
    top: 550px;
    right: 50px;
    padding-top: 0;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 700;
    font-size: 18px;
    display:table;
    align-content:center ;
    font-family:'Varela Round', sans-serif; 
    border-radius: 1em;
}

footer {
    position: absolute;
    top: 950px;
    right: 5px;
}